:root{
    //Primary Colors
    --color-grayish-blue: hsl(237, 18%, 59%);
    --color-soft-red: hsl(345, 95%, 68%);

    //Secondary Colors
    --color-white: hsl(0, 0%, 100%);
    --color-dark-desaturated-blue: hsl(236, 21%, 26%);
    --color-very-dark-blue: hsl(235, 16%, 14%);
    --color-very-very-dark-blue: hsl(234, 17%, 12%);
    --color-for-top-card: hsl(235, 24%, 21%);
}

//////////////////////////Fix the uc broswer justify content issue
//kindly note that the 
//--d means day
//--h means hour
//--m means minutes
//--s means seconds

//Breakpoints
$mobile-breakpoint: 23.4375em; //375px
$mobile-breakpoint-2: 23.375em; //375px
$tablet-breakpoint: 37.5em; //600px
$desktop-breakpoint: 90em; //1440px

//////////////////////////Media Queries////////////////////////
//media query --1
@mixin for-phone-to-tablet {
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        @content;
    }
}

//media query --2
@mixin for-phone-downwards {
    @media screen and (max-width: $mobile-breakpoint-2) {
        @content;
    }
}


//Font family
$font-family: 'Red Hat Text', sans-serif;


html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    height: 100vh;
}

//Universal Reset//
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    height: 100%;
    background: url(../images/pattern-hills.svg) bottom no-repeat, 
                url(../images/bg-stars.svg) center repeat;
    background-color: var(--color-very-dark-blue);
    font-size: 1.4rem;

    //Flex settings
    display: flex;
    flex-direction: column;

    //Text settings
    font-family: $font-family;
    letter-spacing: .2em;
}

.launch{
    min-height: auto; //to keep the footer down
    text-transform: uppercase;

    color: var(--color-white);

    //Inherited Flex settings
    flex: 1 0 auto;
 
    //Own flex settings
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading{
        text-align: center;
        color: var(--color-white);
        font-size: 2rem;
        margin-top: 10rem;

        margin-bottom: 10%;

        //Media Queries --1
        @include for-phone-to-tablet {
        margin-bottom: 20%;
        width: 60%;
        font-size: 1.8rem;
      }

       //Media Queries --2
       @include for-phone-downwards {
        width: 70%;
        font-size: 1.6rem;
      }
    }

    &__countdown-container{
        height: fit-content;
        width: fit-content;
        display: flex;

        margin-bottom: auto;

        > :not(:last-child){
            margin-right: 2rem;
        }
    }
}



//////////Icons/////////////////
.icons{

    > :not(:last-child){
        margin-right: 2rem;
    }
}

.icon{
    //Media Queries --2
    @include for-phone-downwards {
     height: 1.5rem;   
    }

    &:hover{ 
        //improvision needed for color-soft-red
        filter: invert(0.26) sepia(1) saturate(4.4) hue-rotate(284.4deg) brightness(1);
        cursor: pointer;
    }
}

/////////Footer//////////////
.attribution{
    text-align: center;
    color: var(--color-white);
    align-self: center;

    margin-top: 5%;

    //Media Queries --1
    @include for-phone-to-tablet {
     font-size: .85rem;    
    }

    //Media Queries --2
    @include for-phone-downwards {
     width: 80%;
     font-size: .75rem;   
    }

    a{
        color: var(--color-soft-red);
    }
}

